.App {
  margin: 0 auto;
  padding: 2.3em 3em 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px dashed #888888;
  border-radius: 30px;
  width: 1129.93px;
  height: 383.93px;
}
.span1 {
  color: #3c2683;
  font-size: 24px;
  line-height: 29px;
  width: 490px;
  height: 87px;
  text-align: start;
  position: relative;
  top: 130px;
  right: 40px;
  font-family: Inter, sans-serif;
}
.button1 {
  width: 275px;
  display: block;
  background-color: rgba(238, 68, 131, 0);
  border: 1px solid transparent;
  color: #ffffff;
  height: 86px;
  position: relative;
  top: 30px;
  right: 58px;
}
.img1 {
  position: relative;
  width: 256px;
  height: 124.19px;
  top: -100px;
  right: 40px;
}
.img2 {
  width: 520.93px;
  height: 383.93px;
  position: relative;
  bottom: 331px;
  left: 458px;
}
.img3 {
  width: 1px;
}
.div1 {
  width: 500px;
  height: 500px;
}
